/* Navigation Section */
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}
.top-navigation .links {
	float: right;
	font-size: 16px;
	margin-top: 25px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;

}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links .active {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #33333;
}
.top-navigation .logo {
	padding: 0px 15px;
	margin-left: 60px;
}
/*Body Section*/
.introduction {
	background-image: url(http://i1077.photobucket.com/albums/w475/JTongay/first-background%20copy_zpsxkiuu8dp.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center bottom;
	overflow: auto;
	height: 45.938rem;
}
.introduction {
	color: #fff;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	
}







