/* Navigation Section */

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.top-navigation .links {
  float: right;
  font-size: 16px;
  margin-top: 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #33333;
}

.top-navigation .logo {
  padding: 10px 15px;
  margin-left: 60px;
}


/*Body Section*/

.introduction {
  background-image: url(http://i1077.photobucket.com/albums/w475/JTongay/first-background%20copy_zpsxkiuu8dp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  overflow: auto;
  height: 45.938rem;
}

.introduction .content {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 300;
}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h3 {
  font-size: 25px;
}

button {
  width: 9.6rem;
  border-style: none;
  text-shadow: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  background-color: #f15a29;
  border-color: #f15a29;
  color: white;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}


/* Three-icon section*/

.information hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

.cases {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  overflow: hidden;
  padding-bottom: 5rem;
  -webkit-font-smoothing: antialiased;
}

.cases .content {
  margin-top: 7.875rem;
  padding: none;
  color: #1d1e21;
  text-align: center;
}

.cases h2 {
  font-size: 2.75rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
}

.cases .devices > li {
  width: 33.3333333%;
  float: left;
  /*styles to assist with debugging*/
  /*display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  height: 4em;*/
}

.cases .devices h3 {
  font-weight: 400;
  font-size: 1.562rem;
  margin: 2.5rem 0px 1.875rem;
}

.cases .devices p {
  font-weight: 300;
  font-size: 1.313rem;
}

.information .devices li {
  display: inline-block;
  padding: 75px;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}


/*3 icon section*/

.social hr {
  border: 0;
  border-top: 1px solid #eaebec;
  margin: 1.313rem 0;
}

.social .icons > li {
  border-radius: 1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  margin: 1.25rem 5px;
  border: 1px solid #eaebec;
  padding: 0.625rem 0;
  text-align: center;
  box-sizing: border-box;
}

.social .icons li:hover {
  cursor: pointer;
  color: #33333;
}

.social .twitter {
  color: #55acee;
}

.social .facebook {
  color: #4c66a4;
}

.social .instagram {
  color: #3f729b;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
}

.copyright {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

.social {
  background-color: #fff;
  overflow: auto;
  padding-bottom: 9.375rem;
  text-align: center;
}


/* responsive */
